{% extends "base.html" %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shawna's Habit-o-rama</title>
</head>
<body>
    {% block content %}
<h1>Add a new habit for {{request.user}}</h1>
    <form action="{% url 'add_habit' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
          <button type="submit">Submit!</button>
        </div>
      </form>
      <button><a href="{% url 'list_habits' %}">Nevermind!</button></a>
    </div>
    {% endblock %}
</body>
</html>