
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shawna's Habit-o-rama</title>
</head>
<style>

div {
        display:flex;
        justify-content: center;
        align-items: center;    
    }    
    button {
        width: max-content;
    }
</style>
<body>
    {% extends "base.html" %}
    {% load static %}
    {% block content %} 

    <div>
    <h3><p>QUITTER!!!!!! JK! I'd never judge you for quitting your goal of trying to {{habit.name}} {{habit.goal}} {{habit.unit}}.</p></h3>
    </div>
    <form action="{% url 'delete_habit' pk=habit.pk %}" method="POST">
        {% csrf_token %}


    <button type="submit">Delete This Goal</button>
    <button><a href="{% url 'list_habits' %}">Keep</a></button>
    {% endblock %}
</body>
</html>