{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    button {
        width: max-content;
    }
</style>
<body>
    {% block content %} 
    <h3><p>QUITTER!!!!!! JK, No judgements for quitting your goal of trying to {{habit.name}} {{habit.goal}} {{habit.unit}}.</p></h3>

    <form action="{% url 'delete_habit' pk=habit.pk %}" method="POST">
        {% csrf_token %}


    <button type="submit">Delete This Goal</button>
    <button><a href="{% url 'list_habits' %}">Keep</a></button>
    {% endblock %}
</body>
</html>